Repository ifto-palmas/aglomerou, pull requests merged in 2020-06, with the labels that each got.

#81 Issue 80
  backend/controllers/dispositivo.controller.js
  backend/routes/dispositivo.js
Labels: backend, database

#83 Issue 82
  backend/controllers/localizacao.controller.js
  backend/routes/localizacao.js
  db/dados-postgres.sql
  db/script-postgres.sql
Labels: backend, database

#85 Close #16
  mobile/.gitignore
  mobile/app/App.js
  mobile/app/componentes/IdDispositivo.js
  mobile/app/package-lock.json
  mobile/app/package.json
  mobile/app/service/api.js
  mobile/app/yarn.lock
Labels: mobile

#87 Close #86
  docs/diagramas.mdj
Labels: database, documentation

#95 Close #88 - Configuração do pool de conexões
  backend/config/db.js
Labels: backend, database, security

#101 Close #5 - Adiciona badge de qualidade de código do Codacy
  README.md
Labels: quality-assurance

#105 Close #104
  backend/controllers/usuario.controller.js
  database/postgres-estrutura.sql
Labels: backend, database, security

#107 Close #28
  backend/app.js
Labels: backend

#110 Close #108
  backend/config/db.js
  backend/controllers/dispositivo.controller.js
  backend/controllers/localizacao.controller.js
  backend/controllers/usuario.controller.js
Labels: backend, database

#118 Close #117
  backend/Dockerfile
Labels: backend, infrastructure

#120 Close #17
  mobile/app/App.js
  mobile/app/componentes/IdDispositivo.js
  mobile/app/componentes/LocalizacaoDispositivo.js
  mobile/app/package-lock.json
  mobile/app/package.json
  mobile/app/yarn.lock
Labels: mobile

#127 Close #126
  backend/controllers/localizacao.controller.js
  backend/routes/localizacao.js
Labels: backend

#130 Close #129
  backend/controllers/localizacao.controller.js
Labels: backend

#131 Close #122
  backend/app.js
  backend/controllers/dispositivo.controller.js
  backend/package-lock.json
  backend/package.json
  backend/public/index.html
  backend/routes/dispositivo.js
Labels: backend, security

#136 Close #124
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.js
  frontend/app/src/App.module.css
  frontend/app/src/components/cards/Cards.jsx
  frontend/app/src/components/cards/Cards.module.css
  frontend/app/src/components/grafico/Grafico.jsx
  frontend/app/src/components/grafico/Grafico.module.css
  frontend/app/src/components/header/Header.jsx
  frontend/app/src/components/header/Header.module.css
  frontend/app/src/mapStyles.js
  frontend/app/src/maps.js
Labels: frontend

#139 Issue #133 - Inclusao de campo 'bloqueado'
  backend/controllers/dispositivo.controller.js
  backend/controllers/localizacao.controller.js
  database/postgres-estrutura.sql
Labels: backend, database, quality-assurance, security

#137 Close issue-15
  mobile/app/App.js
  mobile/app/app.json
  mobile/app/package-lock.json
  mobile/app/package.json
  mobile/app/yarn.lock
Labels: mobile

#132 Close #121 - Apk do aplicativo
  mobile/app/app.json
  mobile/app/package.json
Labels: mobile

#150 Issue #140
  mobile/.gitignore
  mobile/app/build-apk.sh
Labels: mobile

#151 Close #135
  mobile/app/App.js
  mobile/app/componentes/LocalizacaoDispositivo.js
Labels: mobile
