Repository ifto-palmas/aglomerou, pull requests merged in 2020-05, with the labels that each got.

#26 Close #11
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/public/index.html
  backend/rotas/dispositivo.js
  backend/rotas/index.js
  backend/rotas/localizacao.js
Labels: backend

#29 Close #12 - Configuração do pool de conexões
  backend/app.js
  backend/db/config.js
  backend/package-lock.json
  backend/package.json
  backend/rotas/dispositivo.js
  backend/rotas/index.js
  package-lock.json
Labels: backend, database, setup

#37 Close #4
  mobile/app/.expo-shared/assets.json
  mobile/app/App.js
  mobile/app/app.json
  mobile/app/assets/icon.png
  mobile/app/assets/splash.png
  mobile/app/babel.config.js
  mobile/app/package-lock.json
  mobile/app/package.json
Labels: frontend, setup

#39 Issue 10
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/public/index.html
  backend/rotas/dispositivo.js
  backend/rotas/localizacao.js
  backend/swagger-setup.js
Labels: backend, documentation

#41 Close #40
  backend/db/config.js
Labels: backend, database

#42 Issue 14
  backend/app.js
  backend/controllers/localizacao.controller.js
  backend/db/config.js
  backend/rotas/localizacao.js
Labels: backend

#50 Close #14 - Metodo GET para obter localização do dispositivo
  backend/controllers/localizacao.controller.js
Labels: backend, security

#51 Issue 44
  backend/controllers/localizacao.controller.js
Labels: backend, security

#52 Close #46 - Resposta de requisição não autorizada
  backend/controllers/localizacao.controller.js
Labels: backend, security

#53 Close #48
  README.md
  backend/README.md
  backend/config/README.md
  backend/controllers/README.md
  backend/public/README.md
  backend/rotas/README.md
  db/README.md
  frontend/README.md
  mobile/README.md
  swagger-ui.jpg
Labels: documentation

#55 Close #54
  backend/controllers/localizacao.controller.js
  backend/util.js
Labels: backend, error-handling

#57 Close #56
  backend/package-lock.json
  backend/package.json
Labels: backend, setup
