Repository ifto-palmas/aglomerou, pull requests merged in 2020-08, with the labels that each got.

#219 Atualização tabela dispositivo SQL
  backend/controllers/localizacao.controller.js
  database/postgres-estrutura.sql
Labels: backend, database

#223 Refactoring assinatura metodo POST
  backend/routes/notificacao.js
Labels: backend

#229 Close #224
  database/postgres-estrutura.sql
Labels: backend, database

#230 Close issue-225
  mobile/app/componentes/ModalFormNotificacao.js
  mobile/app/package.json
  mobile/app/utils/LocalizacaoDispositivo.js
  mobile/app/yarn.lock
Labels: mobile

#233 Close #232
  backend/controllers/notificacao.controller.js
  backend/routes/notificacao.js
  database/postgres-dados.sql
  database/postgres-estrutura.sql
Labels: backend

#227 Close #94
  backend/README.md
  backend/config/db.js
  database/postgres-dados.sql
  mobile/app/package.json
  scripts/.env.dist
  scripts/docker-compose.yml
  scripts/docker.sh
Labels: infrastructure

#238 Close #93 - Página de Login
  .gitignore
  frontend/app/package.json
  frontend/app/public/index.html
  frontend/app/src/App.js
  frontend/app/src/assets/splash.svg
  frontend/app/src/components/InputField/index.js
  frontend/app/src/components/InputField/styles.js
  frontend/app/src/pages/Login/index.js
  frontend/app/src/pages/Login/styles.js
  frontend/app/yarn.lock
Labels: frontend
