Repository ifto-palmas/aglomerou, pull requests merged in 2020-07, with the labels that each got.

#146 Issue #45
  mobile/app/App.js
  mobile/app/componentes/IdDispositivo.js
  mobile/app/componentes/LocalizacaoDispositivo.js
  mobile/app/componentes/Mapa.js
  mobile/app/package.json
  mobile/app/yarn.lock
Labels: mobile

#157 Issue 149
  mobile/app/App.js
  mobile/app/componentes/LocalizacaoDispositivo.js
  mobile/app/utils/LocalizacaoDispositivo.js
Labels: mobile

#162 Issue 134
  mobile/app/Constants.js
  mobile/app/app.config.js
  mobile/app/componentes/LocalizacaoDispositivo.js
  mobile/app/package.json
  mobile/app/utils/LocalizacaoDispositivo.js
  mobile/app/yarn.lock
  yarn.lock
Labels: mobile

#163 Issue 153
  mobile/app/animations/load-location.json
  mobile/app/animations/send-location.json
  mobile/app/componentes/CarregandoLocalizacao.js
  mobile/app/componentes/LocalizacaoDispositivo.js
  mobile/app/componentes/Mapa.js
  mobile/app/package.json
  mobile/app/utils/LocalizacaoDispositivo.js
  mobile/app/yarn.lock
Labels: enhancement, mobile

#161 Close issue-125
  mobile/app/componentes/IdDispositivo.js
  mobile/app/componentes/Mapa.js
  mobile/app/package.json
  mobile/app/utils/LocalizacaoDispositivo.js
  mobile/app/yarn.lock
Labels: enhancement, mobile

#167 Issue 165
  mobile/app/animations/load-location.json
  mobile/app/animations/send-location.json
  mobile/app/componentes/CarregandoLocalizacao.js
  mobile/app/componentes/LocalizacaoDispositivo.js
  mobile/app/componentes/Mapa.js
  mobile/app/package.json
  mobile/app/yarn.lock
Labels: mobile

#170 Issue 166
  frontend/app/.eslintrc.js
  frontend/app/.prettierrc
  frontend/app/package.json
  frontend/app/yarn.lock
  mobile/app/.eslintrc.js
  mobile/app/.prettierrc
  mobile/app/package.json
  mobile/app/yarn.lock
Labels: mobile

#169 Issue 43
  backend/controllers/localizacao.controller.js
  backend/routes/localizacao.js
  backend/util.js
Labels: backend, database, documentation

#179 Issue 155
  mobile/app/componentes/BarraPesquisaLocal.js
  mobile/app/componentes/Mapa.js
  mobile/app/package.json
  mobile/app/yarn.lock
Labels: enhancement, mobile

#182 Close #180
  backend/app.js
  backend/routes/dispositivo.js
  backend/routes/index.js
  backend/routes/localizacao.js
  backend/routes/usuario.js
Labels: backend

#184 Issue 181
  mobile/app/componentes/BarraPesquisaLocal.js
  mobile/app/componentes/Mapa.js
Labels: enhancement, mobile

#186 Close #171
  mobile/app/App.js
  mobile/app/app.config.js
  mobile/app/componentes/IdDispositivo.js
  mobile/app/componentes/Mapa.js
  mobile/app/componentes/ModalRegistroPermissoes.js
  mobile/app/componentes/TelaInicial.js
  mobile/app/mobileAssets/inicialSplash.png
  mobile/app/mobileAssets/logo.png
  mobile/app/mobileAssets/pronto.png
  mobile/app/mobileAssets/registroSplash.png
  mobile/app/utils/LocalizacaoDispositivo.js
Labels: mobile

#187 Subustitui icon.png e splash.png
  mobile/app/assets/icon.png
  mobile/app/assets/splash.png
Labels: mobile

#198 Issue 191
  mobile/app/componentes/ModalRegistroPermissoes.js
  mobile/app/componentes/TelaInicial.js
  mobile/app/mobileAssets/inicialSplash@2x.png
  mobile/app/mobileAssets/inicialSplash@3x.png
  mobile/app/mobileAssets/logo.png
  mobile/app/mobileAssets/logo@2x.png
  mobile/app/mobileAssets/logo@3x.png
  mobile/app/mobileAssets/pronto.png
  mobile/app/mobileAssets/prontoSplash.png
  mobile/app/mobileAssets/prontoSplash@2x.png
  mobile/app/mobileAssets/prontoSplash@3x.png
  mobile/app/mobileAssets/registroSplash@2x.png
  mobile/app/mobileAssets/registroSplash@3x.png
  mobile/app/package.json
  mobile/app/yarn.lock
Labels: gui, mobile

#199 Refatorando funções
  mobile/app/componentes/Mapa.js
  mobile/app/componentes/TelaInicial.js
  mobile/app/utils/LocalizacaoDispositivo.js
Labels: bug, mobile

#201 Close #190
  backend/controllers/localizacao.controller.js
Labels: backend, database, documentation, performance, quality-assurance

#206 Issue 175
  mobile/app/App.js
  mobile/app/componentes/Mapa.js
  mobile/app/componentes/ModalMensagemMapa.js
  mobile/app/package.json
  mobile/app/yarn.lock
Labels: mobile

#212 Issue 208
  backend/controllers/notificacao.controller.js
  backend/routes/notificacao.js
Labels: backend, documentation, quality-assurance, security

#213 Atualiza o model de informações sobre uso do mapa
  mobile/app/App.js
  mobile/app/componentes/ModalMensagemMapa.js
  mobile/app/yarn.lock
Labels: mobile

#215 Close #214
  database/postgres-estrutura.sql
Labels: database, documentation, monitoring

#218 Issue 210
  mobile/app/Constants.js
  mobile/app/componentes/Mapa.js
  mobile/app/componentes/ModalMensagemMapa.js
  mobile/app/componentes/TelaInicial.js
  mobile/app/utils/RegistroDispositivo.js
Labels: mobile

#216 Issue 207
  backend/controllers/notificacao.controller.js
  backend/routes/index.js
  backend/routes/notificacao.js
Labels: backend
